#loginbox
  %h2 Forgot your password?
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    / User Password
    .control-group
      .controls
        .input-prepend
          %span.add-on
            %i.icon-envelope-alt
          = f.email_field :email, :placeholder => t("placeholder.email"),:autofocus => true
    / Form Action
    .form-actions
      = f.button :submit, t("sendMePwd")
