=provide :sitemap,t("accountMgr")
.container-fluid
  .row-fluid
    / User list
    .box.span8
      .tab-header Users
      .padded
        - @users.each do |user|
          %p= link_to user.name, user
    .box.span4
      .tab-header=t("registrationNew")
      =render "new_account_form"