=provide :sitemap,t("accountMgr")
.container-fluid
  .row-fluid
    / User list
    #user-gallery
      = render 'admin/account/shared/user_gallery'
    .box.span4
      .tab-header=t("registrationNew")
      =render "new_account_form"