//page base size
$font-size: 14px;
$padding-value: 20px;

//color
$main-container-color: #ffffff;
$menu-font-color:#999999;
$menu-font-color-active:#656565;
$border-color:#d4d4d4;


//layout
$left-size-bar-top: 41px;
$left-size-bar-width:120px;