<!-- left side bar -->
<ul class="affix">
  <li class="active">
    <div class="avatar">
      <a href="#"><img src="http://fakeimg.pl/72x72/" alt="avatar"/></a>
      <span>Handle Huang</span>
    </div>
  </li>
  <li>
    <a href="/projects">
      <i class="icon-dashboard"></i>
      <span>Menu 1</span>
    </a>
  </li>
  <li>
    <a>
      <i class="icon-dashboard"></i>
      <span>Menu 2</span>
    </a>
  </li>
</ul>
